.btnCrearPost {

    float: right;
    margin-right: 50px;
    padding: 5px;
    
}

.btnCrearPost2 {

    margin-top: 30px;
    font-size: 18px;
    padding: 5px;

}

.btnEliminarPost {

    float: right;
    margin-right: 50px;
    margin-top: 50px;
    background-color: red;
    border: none;
    border: 1px solid black;
    border-radius: 2px;
    transition: .2s;

}

.btnEliminarPost:hover {

    font-weight: bold;
    transform: scale(1.1);
    transition: .2s;

}

.titulo {

    margin-left: 30px;
    text-decoration: underline;

}

.session {

    margin-left: 50px;
    margin-bottom: 30px;

}

.form {

    margin-left: 50px;
    margin-top: 30px;

}

.form label {

    font-size: 18px;
    margin-right: 10px;
    

}

.form input[type='text'] {

    outline: none;
    border: none;
    width: 300px;
    font-size: 24px;
    border-bottom: 2px solid black;
    background-color: #ffffc5;
    margin-bottom: 30px;
}

.form textarea {

    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffc5;

}

a:link, a:visited, a:hover, a:active {

    text-decoration: none;
    color: black;

}

.posts {

    font-size: 20px;
    margin-left: 20px;
    transition: .2s;

}

.posts:hover {

    font-size: 21px;
    transition: .2s;

}

.contenido {

    white-space: pre-line;
    margin: 20px;
    text-align: justify;
    font-size: 18px;

}
